<div class="container-fluid">
    <div class="block-header">
        <h2>バーコードスキャン</h2>
    </div>
  <div class="card">
    <div class="header">
        <h2>
            バーコード
        </h2>
    </div>
    <div class="body">
      <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group">
            <div class="form-line">
                <input id="scanner_input" class="form-control" placeholder="下記のボタンをクリックして、バーコードをスキャンできる" type="text" />
            </div>
          </div>

          <div class="input-group">
            <label class="btn btn-default" style="width: 100%;">
                <i class="material-icons">camera_enhance</i> カメラ利用
                <input type="file" accept="image/*;capture=camera" capture="camera" class="hidden" />
            </label>
          </div>
          </div><!-- /.col-sm-12 -->
      </div><!-- /.row -->
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
    // Create the QuaggaJS config object for the live stream
    var liveStreamConfig = {
            inputStream: {
                type : "LiveStream",
                constraints: {
                    width: {min: 640},
                    height: {min: 480},
                    aspectRatio: {min: 1, max: 100},
                    facingMode: "environment" // or "user" for the front camera
                }
            },
            locator: {
                patchSize: "medium",
                halfSample: true
            },
            numOfWorkers: (navigator.hardwareConcurrency ? navigator.hardwareConcurrency : 4),
            decoder: {
                "readers":[
                    {"format":"ean_reader","config":{}}
                ]
            },
            locate: true
        };
    // The fallback to the file API requires a different inputStream option.
    // The rest is the same
    var fileConfig = $.extend(
            {},
            liveStreamConfig,
            {
                inputStream: {
                    size: 800
                }
            }
        );

    // the barcode had actually been found.
    Quagga.onDetected(function(result) {
        if (result.codeResult.code){
            $('#scanner_input').val(result.codeResult.code);
            Quagga.stop();
            setTimeout(function(){ $('#livestream_scanner').modal('hide'); }, 1000);
        }
    });

    // Call Quagga.decodeSingle() for every file selected in the
    // file input
    $("input:file").on("change", function(e) {
        if (e.target.files && e.target.files.length) {
            Quagga.decodeSingle($.extend({}, fileConfig, {src: URL.createObjectURL(e.target.files[0])}), function(result) {
              // alert(result.codeResult.code);
              var from = "<%= @from %>";
              switch (from) {
                case "rent":
                  window.location.replace("/main/rent?barcode=" + result.codeResult.code);
                  break;
                case "return":
                  window.location.replace("/main/return?barcode=" + result.codeResult.code);
                  break;
                case "register":
                  window.location.replace("/main/register?barcode=" + result.codeResult.code);
                  break;
              }
            });
        }
    });
});
</script>
