<div class="container-fluid">
    <!-- Widgets -->
    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-orange">
              <div class="icon">
                  <i class="material-icons">find_in_page</i>
              </div>
              <div class="content">
                  <h2><%= link_to "検索", {controller: "good", action: "index"} %></h2>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-cyan">
              <div class="icon">
                  <i class="material-icons">add_circle</i>
              </div>
              <div class="content">
                  <h2><%= link_to "貸し出し", {controller: "main", action: "camera", :from => 'rent'} %></h2>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-light-green">
              <div class="icon">
                  <i class="material-icons">backspace</i>
              </div>
              <div class="content">
                  <h2><%= link_to "返し", {controller: "main", action: "camera", :from => 'return'} %></h2>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-pink">
              <div class="icon">
                  <i class="material-icons">camera_enhance</i>
              </div>
              <div class="content">
                  <h2><%= link_to "登録", {controller: "main", action: "camera", :from => 'register'} %></h2>
              </div>
          </div>
        </div>
    </div>
    <!-- #END# Widgets -->
</div>
