<div class="card">
  <div class="body">
    <div class="row clearfix">
        <div class="col-sm-12">
          <% if @exist.present? %>
            このバーコードに関する備品がすでに登録されました。
          <% else %>
            備品登録できました。
          <% end %>
        </div><!-- /.col-sm-12 -->
    </div><!-- /.row -->
  </div>
</div>
