<% if @title.present? %>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="header">
              <h2>
                  <%= @title %>
              </h2>
          </div>
          <div class="body">
              <div class="row" style="padding-bottom: 0px;">
                  <div class="col-sm-12">
                      <div class="thumbnail">
                          <img src="<%= @imglink %>">
                          <div class="caption">
                              <%= @description %>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12"　style="margin-bottom: 0px !important;">
                      <div class="input-group">
                        <%= form_tag main_register_save_path, :method => 'get' do %>
                          <%= button_tag type: "submit", :name => nil, class: 'btn btn-primary', style: 'width: 100%;' do %>
                            <i class="material-icons">add</i>登録
                          <% end %>
                        <% end %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<% else %>
<div class="card">
  <div class="body">
    <div class="row clearfix">
        <div class="col-sm-12">
            バーコードに対する本が存在していないです。
        </div><!-- /.col-sm-12 -->
    </div><!-- /.row -->
  </div>
</div>
<% end %>
