<% if @save_success.present? %>
<div class="card">
  <div class="body">
    <div class="row clearfix">
        <div class="col-sm-12">
          <% if @save_success == 1 %>
            すでに貸し出し登録しました。
          <% else %>
            貸し出し登録できました。
          <% end %>
        </div><!-- /.col-sm-12 -->
    </div><!-- /.row -->
  </div>
</div>
<% elsif @good.present? %>
<div class="container-fluid">
  <div class="block-header">
      <h2>貸し出しもの情報</h2>
  </div>
  <div class="card">
    <div class="header">
        <h2>
            <b><%= @good.goods_name %></B>
        </h2>
        <small>barcode: <%= @good.barcode %></small>
    </div>
    <div class="body">
      <div class="row clearfix">
          <div class="col-sm-12">
            <div class="thumbnail">
                <img src="<%= @good.link %>">
                <div class="caption">
                    <%= @good.description %>
                </div>
            </div>
          </div><!-- /.col-sm-12 -->
      </div><!-- /.row -->
    </div>
  </div>

  <div class="card">
    <div class="header">
        <h2>
            <b>貸し出し情報ご記入</B>
        </h2>
    </div>
    <div class="body" style="padding-bottom: 0px;">
      <%= form_tag('/main/rent', method: :get) do %>
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-line">
                      <input type="hidden" name="good_id" value="<%= @good.id %>" >
                        <input type="text" name="return_date" class="datepicker form-control" placeholder="返す予定日を選んでください！">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary" style="width: 100%; height: 50px;">貸し出し</button>
            </div>
          </div>
        </div><!-- /.col-sm-12 -->
      </div><!-- /.row -->
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function () {
    $('.datepicker').bootstrapMaterialDatePicker({
        format: 'dddd DD MMMM YYYY',
        minDate: moment(),
        clearButton: true,
        weekStart: 1,
        time: false
    });
});
</script>
<% else %>
<div class="card">
  <div class="body">
    <div class="row clearfix">
        <div class="col-sm-12">
            バーコードが存在していないです。
        </div><!-- /.col-sm-12 -->
    </div><!-- /.row -->
  </div>
</div>
<% end %>
