<div class="card">
  <div class="body">
    <div class="row clearfix">
        <div class="col-sm-12">
          <% if @good.present? %>
            返却手続き完了です。
          <% else %>
            バーコードが存在していないです。
          <% end %>
        </div><!-- /.col-sm-12 -->
    </div><!-- /.row -->
  </div>
</div>
