<div class="login-box">
    <div class="logo">
      <a href="javascript:void(0);">NP貸出管理アプリ<br/>かしだしちゃん</a>
      <small>みなさんNPの物をちゃんと管理くださいね！</small>
    </div>
    <div class="card">
        <div class="body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
                <div class="msg"><b>サインアップ</b></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <%= f.text_field :user_name, autofocus: true, class: "form-control", placeholder: "名前" %>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
                    </div>
                    <% if @validatable %>
                    <em>(<%= @minimum_password_length %> 字以上で設定してください。)</em>
                    <% end %><br />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
                    </div>
                </div>

                <div class="input-group">
                    <%= f.submit "会員登録", class: "btn btn-block btn-lg bg-pink waves-effect" %>
                </div>

                <div class="input-group">
                    <%= render "devise/shared/links" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
