<div class="card">
  <div class="header">
      <h2>検索</h2>
  </div>
  <div class="body">
    <%= form_tag good_index_path, :method => 'get' do %>
    <div class="row clearfix">
        <div class="col-sm-12">
        <div class="form-group">
          <div class="form-line">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "キーワードご入力" %>
          </div>
        </div>
        <div class="input-group">
          <%= button_tag type: "submit", :name => nil, class: 'btn btn-default', style: 'width: 100%;' do %>
            <i class="material-icons">search</i>検索
          <% end %>
        </div>
        </div><!-- /.col-sm-12 -->
      </div><!-- /.row -->
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="block-header">
      <h2>貸し出し備品一覧</h2>
  </div>
</div>

<% @goods.each do |good| %><br>
  <div class="card">
    <div class="header">
        <h2>
            <b><%= good.goods_name %></B>
        </h2>
        <small>借り手：<%= rent_user_name(good.id) %></small></br>
        <small>登録者:<%= good.user.user_name if good.user.present?%></small></br>
        <small><%= flash[:notice] if flash[:notice]%></small>
    </div>
    <div class="body">
      <div class="row clearfix">
          <div class="col-sm-12">
            <%= good.description[0..30] + '...' %>
            <%= link_to "詳細確認", controller: "good", action: "show", good_id: good.id %>
          </div><!-- /.col-sm-12 -->
      </div><!-- /.row -->
    </div>
  </div>
<% end %>
