<div class="card">
  <div class="header">
      <h2>
          <b><%= @good.goods_name %></b>
      </h2>
      <small>barcode: <%= @good.barcode %></small><br/>
      <small>レンタル人:
        <% if @rent.present? && @rent.user.present?%>
          <%= @rent.user.user_name %>
        <% else %>
          <%= 'なし' %>
        <% end %><br/>
        <% if !@rent.present? %>
          <%= link_to @good_status, {controller: "good", action: "ask", good_status:@good_status_params, good_id: @good.id, user_id: current_user.id} %>
        <% else @rent.user.id != current_user.id %>
          <%= link_to @good_status, {controller: "good", action: "ask", good_status:@good_status_params, good_id: @good.id, user_id: current_user.id} %>
        <% end %>
      </small>
  </div>
  <div class="body">
    <div class="row clearfix">
        <div class="col-sm-12">
          <div class="thumbnail">
              <img src="<%= @good.link %>">
              <div class="caption">
                  <%= @good.description %>
              </div>
          </div>
        </div><!-- /.col-sm-12 -->
    </div><!-- /.row -->
  </div>
</div>
