<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">NP貸出管理アプリ<br/>かしだしちゃん</a>
        <small>みなさんNPの物をちゃんと管理くださいね！</small>
    </div>
    <div class="card">
        <div class="body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="msg">Sign in to start your session</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'メールアドレス' %>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'パスワード' %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                      <% if devise_mapping.rememberable? -%>
                        <%= f.check_box :remember_me, class: "filled-in chk-col-pink" %>
                        <%= f.label :remember_me %>
                      <% end -%>
                    </div>
                    <div class="col-xs-4">
                        <%= f.submit "ログイン", class:"btn btn-block bg-pink waves-effect" %>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-12">
                        <%= render "devise/shared/links" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
