<div class="container-fluid">
  <div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
            <div class="header">
                <h2>お気に入り一覧</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                              <th>備品名</th>
                              <th>借り手</th>
                              <th>詳細</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @favorites.each do |f| %>
                            <tr>
                                <td><%= f.good.goods_name %></td>
                                <td><%= rent_user_name(f.good_id)%></td>
                                <td>
                                  <%= link_to "詳細", controller: "good", action: "show", good_id: f.good.id %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Task Info -->
</div>
