<div class="container-fluid">
  <div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
            <div class="header">
                <h2>貸出一覧</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th>備品名</th>
                                <th>残り</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @rents.each do |rent| %>
                            <tr>
                                <td><%= rent.good.goods_name %></td>
                                <td>
                                  <% days = ((rent.expire_end_date.to_i - Time.now.to_i) / 86400) %>
                                  <% if days > 0 %>
                                    <span class="label bg-green"><%= days %>日</span>
                                  <% end %>
                                  <% if days < 0 %>
                                    <span class="label bg-red">返せ</span>
                                  <% end %>
                                </td>
                                <!-- <td><% rent.expire_start_date %></td>
                                <td><% rent.expire_end_date %></td> -->
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Task Info -->
</div>
