/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap/theme';

 @import 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker';

 @import "plugins/node-waves/waves";
 @import "plugins/animate-css/animate";
 @import "plugins/animate-css/animate";

 @import "stylesheets/materialize";
 @import "stylesheets/style";
 @import "stylesheets/themes/theme-red";

.a-home {
  color: #fff;
  width: 25px;
  height: 25px;
  margin-top: 3px;
  margin-right: 17px;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
